// Devices

// Mobile
@media (min-width: 640px){

    .brand-logo {
        width : 34vw;
    }
    
    .title {
        width : 24vh;
        text-align: center;
    }
    
    .card {
        width: 8rem;
    }

    .container-fluid {
        margin: 0; 
        padding:0;
        width: 95;
        gap: 1.4rem;
    }

    .fluid {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .divider {
        height: inherit;
    }

    .description-box {
        height : inherit;
        width : inherit;
        margin: inherit;
    }
}


// Tablet

@media (min-width: 768px){

    .brand-logo {
        width : 22vh;
    }

    .title {
        width : 24vh;
        text-align: center;
    }

    .card {
        width: 12rem;
    }

    .container-fluid {
        margin: 0; 
        padding:0;
        width: 95;
        gap: 1.8rem;
    }

    .fluid {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .divider {
        height: inherit;
    }
    
    .description-box {
        height : inherit;
        width : inherit;
        margin: inherit;
    }
}

// Computer

@media (min-width: 1024px){

    .brand-logo {
        width : 24vh;
    }

    .title, .subtitle {
        width : 24vh;
        text-align: left;
    }

    .card {
        width: 12rem;
    }

    .container-fluid {
        margin: 0; 
        padding:0;
        width: 90;
        gap: 2rem;
    }
    
    .fluid {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .divider {
        height: 50% !important;
    }

    .description-box {
        height : inherit;
        width : inherit;
        margin: inherit;
    }
}

@media (min-width: 1280px){

    .fluid {
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .divider {
        height: 50% !important;
    }

    .description-box {
        height : inherit;
        width : inherit;
        margin: inherit;
    }
  
}

@media (min-width: 1536px){
    
    .fluid {
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .divider {
        height: 50% !important;
    }

    .description-box {
        height : inherit;
        width : inherit;
        margin: inherit;
    }
}